<h1>Este es tu articulo</h1>

<p>
  Titlte: <%= @article.title %>
</p>


<p>
  Description: <%= @article.description%>
</p>
<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Back to articles list", articles_path %>