<div class="container">

  <footer class="footer">
    <small>
      Copyright &copy;This is mine!
      by <a href="https://www.linkedin.com/in/rafael-lozano-70160598?trk=nav_responsive_tab_profile">Rafa R Lozano</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>

</div>